# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# =========================
# VS Code
# =========================
.vscode/
*.code-workspace

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Python tools
# =========================
.pytest_cache/
.mypy_cache/
.ruff_cache/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment / secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml

# =========================
# Temporary files
# =========================
*.tmp
*.temp
*.log